* {
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 98px;
    font-size: 20px;
    position: fixed !important;
    width: 100%;
    z-index: 1;
    top: 0px;
}


.active {
    font-weight: bold;
}

.btn-primary {
    background-color: #3E4B7C;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #3E4B7C;
    color: #3E4B7C;
}

.btn {
    width: 228px;
    height:52px;
}

.hero-text-section {
    padding-top: 64px;
}

.hero-text-section h1 {
    font-size: 72px;
    text-align: center;
    width: 1384px;
}

.hero-text-section p {
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.image-section {
    /* width: 1384px; */
    height: 333px;
    background-image: url('assets/image-bg.png');
    background-size: cover;
    margin: 100px;
    color: white;
    
}

.image-section h1 {
    font-size: 52px;
    font-weight: bold;
}

.learning-session-logo {
    text-align: center;
}

.card {
    width:405px !important;
    height: 513px !important;
    border: none;
}

.card-body {
    padding: 0px !important;
}

.card-body h3 {
    color:#3E4B7C;
    font-weight: bold;
}

.buat-akun-section {
    height: 527px;
    background-image: url('assets/buat-akun-bg.png');
    background-size: cover;
    color: white;
}

.buat-akun-section h1 {
    font-size: 52px;
    font-weight: bold;
}

.footer {
    background-color: #3E4B7C;
    color: white;
    padding: 50px;
}

.input-field {
    border: 1px solid white;
}

.col {
    display: flex;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.background {
    height: 331px;
    background-image: url('assets/bg-content.png');
    background-size: cover;
}

.background::after {
    content: "";
    display: block;
    opacity: 0.9;
    height: 331px;
    border-radius: 12px;
    background-color: #3E4B7C;
}

.image {
    position: relative;
    bottom: 150px;
}

.tutor-detail img {
    border-radius: 50px;
}


.materi-belajar {
    width: 78%;
}

.alat-belajar {
    width: 22%;
}

.navbar-detail {
    background-color: #3E4B7C;
}

.panah:hover {
    cursor: pointer;
}

.color-blue {
    color:#3E4B7C;
}

.video-container {
    text-align: center;
}
